.Container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 60px 30px;
    color: white;
    margin: 30px;
    width: 100%;
    max-width: 35rem;
    min-height: 45rem;
    background: #2e2f33;
    border-radius: 15px;
}

.Container::after{
    position: absolute;
    content: '';
    max-width: 35rem;
    width: 100%;
    top:0;
    right: -35rem;
    background: #E0E0E0;
    height: 100%;
    z-index: 10;
}

.Container::before{
    position: absolute;
    content: '';
    max-width: 35rem;
    width: 100%;
    top:0;
    left: -35rem;
    background: #E0E0E0;
    height: 100%;
    z-index: 10;
}

.LogoContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: .6rem;
}

.LogoContainer span {
    font-weight: 700;
    font-size: 2.5rem;
}

.ButtonsContainer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    z-index: 10;
}


.InButton,.UpButton{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .2s;
}
.checked{
    border-bottom: 2px solid #1ed760;
    transition: .2s;
}

.LoginContainer {
    position: absolute;
    opacity: 1;
    left: 50%;
    top:50%;
    transform: translate(-50%,-40%);
    width: 100%;
    transition: .5s;
}

.LoginContainerHidden{
    position: absolute;
    opacity: 1;
    pointer-events: none;
    left: 50%;
    top:50%;
    transform: translate(-150%,-40%);
    width: 100%;
    transition: .5s;
}

.RegisterContainer {
    position: absolute;
    opacity: 1;
    right: 50%;
    top:50%;
    transform: translate(50%,-40%);
    width: 100%;
    transition: .5s;

}

.RegisterContainerHidden{
    position: absolute;
    opacity: 1;
    pointer-events: none;
    right: 50%;
    top:50%;
    transform: translate(150%,-40%);
    width: 100%;
    transition: .5s;
}

.FormBox {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    flex-direction: column;
}

.FormBox input[type='text'],input[type='password'] {
    outline: unset;
    border: unset;
    font-weight: 600;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 20px;
    height: 40px;
    width: 60%;
}

.SignInButton{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: unset;
    border: unset;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    box-sizing: border-box;
    background: #1ab451;
    border: 2px solid #1ab451;
    padding: 20px;
    border-radius: 20px;
    height: 40px;
    width: 60%;
    transition: .3s;
    cursor: pointer;
}

.SignInButton:hover{
    background: #1ed760;
    border: 2px solid #1ed760;
}

.Forgot{
    all: unset;
    width: fit-content;
    font-weight: 500;
    color: #99999b;
    cursor: pointer;
}

.FormBox input{
    transition: .3s;
}

.FormBox input:focus {
    border: 2px solid #1ab451;
}

.CheckBox{
    width: 60%;
    align-items: flex-start;

}

label {
    pointer-events: none;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

input[type='checkbox'] {
    position: relative;
    transform: scale(2);
    opacity: 0;
    left: 12px;
    top:2px;
    pointer-events: all;
}

.InputCheck {
    position: relative;
    display: inline-block;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.InputCheck:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 5px;
    top: 5px;
    left: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: scale(0) rotate(0deg);
    transition: .2s;
}

input:checked ~ .InputCheck::before {
    transform: scale(1) rotate(-50deg);
}

input:checked ~ .InputCheck {
    background: #3498db;
}

@media screen and (max-width:302px){

    .LoginContainer {
        position: absolute;
        opacity: 1;
        left: 50%;
        top:60%;
        transform: translate(-50%,-40%);
        width: 100%;
        transition: .5s;
    }

    .LoginContainerHidden{
        position: absolute;
        opacity: 1;
        pointer-events: none;
        left: 50%;
        top:60%;
        transform: translate(-150%,-40%);
        width: 100%;
        transition: .5s;
    }

    .RegisterContainer {
        position: absolute;
        opacity: 1;
        right: 50%;
        top:60%;
        transform: translate(50%,-40%);
        width: 100%;
        transition: .5s;

    }

    .RegisterContainerHidden{
        position: absolute;
        opacity: 1;
        pointer-events: none;
        right: 50%;
        top:60%;
        transform: translate(150%,-40%);
        width: 100%;
        transition: .5s;
    }

    label {
        justify-content: center;
        gap: 5px;
    }
}

